@import url('./echolock-form.css');

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

div.header-logo {
  content: url('./../../logo.png');
  width: 400px;
  height: auto;
  margin: 20px auto;
}

h2.header-caption {
  max-width: 600px;
  margin: -40px auto 20px;
  font-weight: 100;
  font-size: 25px;
}

div.hori-line {
  height: 0;
  padding: 0 10%;
  max-width: 700px;
  margin: 30px auto 10px;
  border: .5px rgb(110, 110, 110) solid;
}

div.logged-in-as {
  font-size: 16px;
  font-weight: 200;
  margin: 45px auto 25px;
}

div.logout {
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 200;
}

div.logout:hover {
  cursor: pointer;
}

.logged-in-user {
  color: rgb(0, 205, 0);
}

.pure-g {
  margin: 0 auto;
  max-width: 800px;
}

.echolocked-sites-container {

}
